.navbar-glow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.containerWithBackground {
    background-image: url("components/src/images/pngtree-various-metal-parts-of-a-motor-vehicle-picture-image_3475618.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@keyframes glow {
    from {
      text-shadow: 0 0 0 rgb(77, 7, 240);
    }
    to {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
  }
  
  .animate-glow {
    animation: glow 1s ease-in-out infinite;
  }
